@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* @apply bg-white; */
  /* background-image: url("../public/mountain_background.jpeg"); */
  background-image: url("../public/mountains.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
